[user]
    name = Mons Anderson
    email = mons@cpan.org
[merge]
    tool = xxdiff
[core]
    editor = mcedit
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
